html, body {
  max-height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%; }

.navHeader {
  background-color: white;
  padding: 0;
  text-align: center;
  padding: 25px; }
  .navHeader .logo {
    background-size: cover;
    width: 200px;
    height: 200px; }
  .navHeader li {
    display: inline;
    list-style: none; }
  .navHeader a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: inline-block;
    margin: 0 30px; }
  .navHeader #menu {
    padding: 0%;
    margin: 0; }

#checkBoxMenu {
  display: none; }

.container-fluid {
  padding: 0%; }

.imgFullWidth {
  position: relative; }
  .imgFullWidth #textBox {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 2%;
    max-width: 700px;
    max-height: 100%;
    background-color: white;
    color: black;
    opacity: 0.7; }
    .imgFullWidth #textBox p {
      font-family: Apple Chancery, cursive;
      text-align: justify;
      margin: 0px; }
    .imgFullWidth #textBox h2 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.snowboard {
  background: no-repeat center center;
  background-size: cover;
  max-width: 100%;
  max-height: 80%;
  padding: 0%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .snowboard:hover {
    -webkit-filter: blur(0);
    filter: blur(0); }

.textImg #textLeft {
  padding: 5%; }
  .textImg #textLeft h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .textImg #textLeft p {
    font-family: Apple Chancery, cursive;
    text-align: justify;
    margin: 0px; }
.textImg #snow {
  transition: transform 0.7s linear; }
  .textImg #snow:hover {
    transform: translateX(-10px); }

#citation {
  padding: 5%;
  background-color: white;
  color: black; }
  #citation .textCitation {
    padding: 5%;
    font-family: Apple Chancery, cursive;
    text-align: justify;
    transition: transform .2s;
    margin: 0px;
    font-size: 1.2em; }
    #citation .textCitation:hover {
      animation: pulse 4s linear alternate infinite; }
  #citation cite {
    font-family: Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
.footer {
  height: 50px; }
  .footer .navFooter {
    padding: 50px; }

.navFooter {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 5%; }
  .navFooter li {
    display: inline;
    list-style: none; }
  .navFooter a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: inline-block;
    margin: 0 30px; }

.logoMobile {
  display: none; }

@media screen and (max-width: 900px) {
  #citation {
    display: none; }

  #textBox {
    position: -ms-page static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: auto; }

  #snow {
    transform: none !important; }

  .logoMobile {
    display: block;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto; }

  .navHeader .logo {
    display: none; }
  .navHeader a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; }
  .navHeader a :hover {
    color: #47acff; }
  .navHeader #menuToggle {
    display: block;
    position: relative;
    top: 5%;
    left: auto;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none; }
  .navHeader #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none; }
  .navHeader #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .navHeader #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  .navHeader #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  .navHeader #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black; }
  .navHeader #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  .navHeader #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  .navHeader #menu {
    position: absolute;
    width: 300px;
    margin: -200px 0 0 -50px;
    padding: 50px;
    padding-top: 200px;
    background: lightgray;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .navHeader #menu li {
    padding: 10px;
    font-size: 20px; }
  .navHeader #menuToggle input:checked ~ ul {
    transform: none; } }

/*# sourceMappingURL=style.css.map */
