// VARIABLE DE COULEUR //
$colorGlobal : white;
$colorFont: black;

html,body{
    max-height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

// HEADER NAV SANS BOOTSTRAP //
.navHeader{
background-color: $colorGlobal;
padding: 0;
text-align: center;
padding: 25px;
    .logo{
        background-size: cover;
        width: 200px;
        height: 200px;
    }
    li{
        display: inline;
        list-style: none;
    }
    a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: $colorFont;
        display:inline-block;
        margin: 0 30px;
    }
    #menu{
        padding: 0%;
        margin:0;
    }
}

#checkBoxMenu{
    display: none;
}

.container-fluid{
    padding: 0%;
}


// IMAGE FULL WIDTH//
.imgFullWidth {
    position: relative;
    #textBox {
        position: absolute;
        top: 5%;
        right: 5%;
        padding: 2%;
        max-width: 700px;
        max-height: 100%;
        background-color: $colorGlobal;
        color: $colorFont;
        opacity: 0.7;
        
        p{
            font-family: Apple Chancery, cursive;
            text-align: justify;
            margin: 0px;
        }

        h2{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

 // BONUS:ANIMATION "FLOU" SUR IMG FULL WIDTH //
.snowboard {
    background: no-repeat center center;
    background-size: cover;
    max-width: 100%;
    max-height: 80%;
    padding: 0%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    &:hover {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

// TEXTE A GAUCHE ET IMAGER A DROITE //
.textImg{
    #textLeft {
        padding: 5%;
        h2 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        p {
            font-family: Apple Chancery, cursive;
            text-align: justify;
            margin: 0px;
        }
    }

    #snow {
        transition: transform 0.7s linear;
        &:hover {
           transform: translateX(-10px);
        }

    }
}

// CITATION //
#citation{
    padding: 5%;
    background-color: $colorGlobal;
    color: $colorFont;

    .textCitation {
        padding: 5%;
        font-family: Apple Chancery, cursive;
        text-align: justify;
        transition: transform .2s;
        margin: 0px;
        font-size: 1.2em;
            &:hover {
             animation: pulse 4s linear alternate infinite;
        }
    }
    cite{
        font-family: Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;
    }
}


// KEYFRAME ANIMATION CITATION //
@keyframes pulse {
    0% {transform: scale(1);}
    25% {transform: scale(1.2);}
    50% {transform: scale(1);}
    75% {transform: scale(1.2);}
    100% {transform: scale(1);}
}


//FOOTER//
.footer{
    height: 50px;
        .navFooter{
            padding: 50px;  
        }

}

.navFooter{
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 5%;
    li {
        display: inline;
        list-style: none;
    }

    a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: $colorFont;
        display: inline-block;
        margin: 0 30px;
    }
}


.logoMobile {
    display: none;
}

// MEDIA QUERIES VERSION MOBILE //

@media screen and (max-width:900px){

    // CITATION CACHEE //
    #citation{display: none;}
    #textBox{
        position: -ms-page static;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    // ANULATION ANIMATION IMAGE //
    #snow{
        transform: none !important;
    }

    // LOGO CENTRE //
    .logoMobile {
        display: block;
        position: relative;
        max-width: 200px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    // HUMBURGER MENU, CODE PEN: https://codepen.io/anon/pen/Waxwzv //
    .navHeader {
        .logo {
            display: none
        }

        a {
            text-decoration: none;
            color: $colorFont;
            transition: color 0.3s ease;
        }

        a :hover {
            color: #47acff;
        }

        #menuToggle {
            display: block;
            position: relative;
            top: 5%;
            left: auto;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
        }

        #menuToggle input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
        }

        #menuToggle span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $colorFont;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
        }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        #menuToggle input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $colorFont;
        }

        #menuToggle input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        #menuToggle input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        #menu {
            position: absolute;
            width: 300px;
            margin: -200px 0 0 -50px;
            padding: 50px;
            padding-top: 200px;
            background: lightgray;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        }

        #menu li {
            padding: 10px;
            font-size: 20px;
        }

        #menuToggle input:checked~ul {
            transform: none;
        }
    }
}

